{% load static %}

    <link rel="stylesheet" href="{% static 'vendors/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/solid.min.css' %}">

<footer id="footer" class="overflow-hidden my-lg-9">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="image-holder  mb-4">
                    <img src="{% static 'img/scentience_logo_large.jpg' %}" alt="logo" class="img-fluid">
                </div>

                <div>
                    <p>katherine@theresaherbforthat.co.uk</p>
                    <p>High Wycombe, England</p>
                    <p>07785454569</p>
                </div>

                <ul class="social-links list-unstyled d-flex mt-4">
                    <li class="border-end border-primary p-3">
                        <a href="#" class="svg-primary">
                            <i class="fa-brands fa-facebook-f fa-lg"></i>

                        </a>
                    </li>
                    <li class="border-end border-primary p-3 ">
                        <a href="#" class="svg-primary">
                            <i class="bi bi-instagram fa-lg"></i>

                        </a>
                    </li>
   
               
                
                </ul>

            </div>
            <div class="offset-md-2 col-md-5 mt-5 mt-lg-0">
                <div class="subscribe-content">
                    <div class="subscribe-header ">
                        <h2 class="display-6 fw-semibold ">Subscribe to get our daily updates</h2>
                    </div>
                    <form id="form" class="py-3 position-relative">
                        <input type="text" name="email" placeholder="Write your email address here..."
                            class="w-100 bg-transparent border-0 border-bottom pb-3 ">
                        <a href="#" class="position-absolute end-0">
                          <i class="bi bi-send fa-lg"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>