{% load static %}
<footer class="footer-bottom py-3 mx-lg-5">
  <div class="container-lg">
    <div class="d-md-flex justify-content-between align-items-center">
      <div class="">
        <p>© 2025 Copyright <a href="javascript:void(0)" class="text-decoration-underline" target="_blank">
            There's a Herb For That</a>. All rights reserved
        </p>
      </div>
      <div class=" d-flex flex-wrap">
        <div class="payment-option">
          <span>Payment Option:</span>
          <img src="{% static 'img/visa-card.png' %}" alt="card">
          <img src="{% static 'img/paypal-card.png' %}" alt="card">
          <img src="{% static 'img/master-card.png' %}" alt="card">
        </div>
      </div>
    </div>
  </div>
</footer>