{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- HERO SECTION -->
<section id="intro" class="my-lg-9 mt-5">
  <div class="container-lg">
    <div class="row flex-row-reverse align-items-center ">
      <div class="col-lg-8">
        <div class="image-holder text-end">
          <img src="{% static 'img/hero-img-3.png' %}" alt="banner" class="img-fluid ">
        </div>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0">
        <div class="banner-content ">
          <h6 class="sub-heading">Herbal Wellness</h6>
          <h2 class="display-3 fw-semibold my-4 my-lg-5">Herbal Wellness For Mind &amp; Body</h2>
          <p class="fs-3">Natural herbal and self-care products crafted to nourish your body, calm your mind, and
            support holistic wellbeing.
          </p>
          <a href="#questionnaire-section" class="btn btn-outline-dark text-uppercase mt-4 mt-lg-5">
            Fill Out Form <i class="bi bi-arrow-down"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-outline-dark text-uppercase mt-4 mt-lg-5">View Products</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="text-dark opacity-100 mx-lg-5">


<!-- POPULAR PRODUCTS -->
<section id="popular">
  <div class="container-lg">
    <!-- Header -->
    <div class="row align-items-center my-lg-9">
      <div class="col-lg-6">
        <h6 class="text-uppercase text-muted mb-2 letter-spaced-6px sub-heading">Popular now</h6>
        <h2 class="display-3 fw-semibold my-4 my-lg-5">
          Our Most Popular Products
        </h2>
      </div>
      <div class="col-lg-6">
        <p class="fs-3 mb-4">
          Loved by our community for their gentle effectiveness, our bestsellers bring calm, confidence, and natural
          balance to your daily self-care.
        </p>
        <a href="javascript:void(0)" class="btn btn-outline-dark text-uppercase mt-4 mt-lg-5">
          View all Products
        </a>
      </div>
    </div>

    <!-- Cards -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 mb-5">

      <!-- Card 1 -->
      <div class="col">
        <div class="card h-100 border-0">
          <a href="javascript:void(0)">
            <img src="{% static 'img/product-img-1.png' %}" class="card-img-top" alt="Natural Glow">
          </a>
          <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="text-uppercase mb-0">
                <a href="javascript:void(0)" class="link-dark text-decoration-none">Frankly Fresh</a>
              </h6>
              <h6 class="text-uppercase mb-0">£8.50</h6>
            </div>
          </div>

        </div>
      </div>
      <!-- Card 2 -->
      <div class="col">
        <div class="card h-100 border-0">
          <a href="javascript:void(0)">
            <img src="{% static 'img/product-img-3.png' %}" class="card-img-top" alt="Natural Glow">
          </a>
          <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="text-uppercase mb-0">
                <a href="javascript:void(0)" class="link-dark text-decoration-none">Frankly Fresh</a>
              </h6>
              <h6 class="text-uppercase mb-0">£8.50</h6>
            </div>
          </div>

        </div>
      </div>
      <!-- Card 3 -->
      <div class="col">
        <div class="card h-100 border-0">
          <a href="javascript:void(0)">
            <img src="{% static 'img/product-img-1.png' %}" class="card-img-top" alt="Natural Glow">
          </a>
          <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="text-uppercase mb-0">
                <a href="javascript:void(0)" class="link-dark text-decoration-none">Frankly Fresh</a>
              </h6>
              <h6 class="text-uppercase mb-0">£8.50</h6>
            </div>
          </div>

        </div>
      </div>
      <!-- Card 4 -->
      <div class="col">
        <div class="card h-100 border-0">
          <a href="javascript:void(0)">
            <img src="{% static 'img/product-img-3.png' %}" class="card-img-top" alt="Natural Glow">
          </a>
          <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="text-uppercase mb-0">
                <a href="javascript:void(0)" class="link-dark text-decoration-none">Frankly Fresh</a>
              </h6>
              <h6 class="text-uppercase mb-0">£8.50</h6>
            </div>
          </div>

        </div>
      </div>
      <!-- Card 5 -->
      <div class="col">
        <div class="card h-100 border-0">
          <a href="javascript:void(0)">
            <img src="{% static 'img/product-img-1.png' %}" class="card-img-top" alt="Natural Glow">
          </a>
          <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="text-uppercase mb-0">
                <a href="javascript:void(0)" class="link-dark text-decoration-none">Frankly Fresh</a>
              </h6>
              <h6 class="text-uppercase mb-0">£8.50</h6>
            </div>
          </div>

        </div>
      </div>


    </div>
    <!-- /row -->
  </div>
</section>
<hr class="text-dark opacity-100 mx-lg-5">



<!-- QUESTIONNAIRE -->
<section id="questionnaire-section" class="my-lg-9">

  <div class="container-lg">
    <div class="row align-items-center my-lg-9">
      <div class="col-lg-6">
        <h6 class="text-uppercase text-muted mb-2 letter-spaced-6px sub-heading">Questionnaire</h6>
        <h2 class="display-3 fw-semibold my-4 my-lg-5">
          A Few important Questions
        </h2>
      </div>
      <div class="col-lg-6">
        <p class="fs-3 mb-4">
          We ask these questions to ensure every recommendation is safe, personalised, and perfectly suited to your
          unique health and self-care needs.
        </p>

      </div>
    </div>

    <div class="row g-lg-12">

      <div class="inquiry-item col-lg-12">
        <div class="rounded-5">
          <form name="contactform" action="" method="post" class="form-group contact-form">

            <!-- FIRST / LAST NAME -->
            <div class="form-input col-lg-12 d-flex justify-content-between mb-4">
              <div class="w-100 me-3">
                <label class="mb-2 fs-6 text-dark">First Name*</label>
                <input type="text" name="name" placeholder="Write Your Name Here"
                  class="form-control shadow-none px-3 py-2" required="">
              </div>
              <div class="w-100">
                <label class="mb-2 fs-6 text-dark">Last Name*</label>
                <input type="email" name="email" placeholder="Write Your Email Here"
                  class="form-control shadow-none px-3 py-2" required="">
              </div>

            </div>

            <!-- EMAIL / CONTACT NUMBER -->
            <div class="col-lg-12 mb-4">
              <div class="row">
                <div class="col-lg-6">
                  <label class="mb-2 fs-6 text-dark">Email</label>
                  <input type="text" name="email" placeholder="Email" class="form-control shadow-none px-3 py-2">
                </div>
                <div class="col-lg-6">
                  <label class="mb-2 fs-6 text-dark">Contact Number</label>
                  <input type="text" name="phone" placeholder="Contact Number"
                    class="form-control shadow-none px-3 py-2">
                </div>
              </div>
            </div>

            <!-- DATE OF BIRTH  -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Date of Birth</label>

              <input type="date" name="dob" placeholder="Write Your Subject Here"
                class="form-control shadow-none px-3 py-2">
            </div>

            <hr class="my-5">
            <h4 class=" fw-semibold">Health & Safety</h4>
            <p>The following questions are meant for your health & safety.</p>


            <div class="col-lg-12">
              <!-- ALLERGIES -->
              <div class="col-lg-12 mb-4">
                <label class="mb-2 fs-6 text-dark">Do You Have Any Allergies?</label>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
              </div>

              <!-- MEDICAL CONDITIONS -->
              <div class="col-lg-12 mb-4">
                <label class="mb-2 fs-6 text-dark">Do You Have Any Medical Conditions?</label>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                  <label class="form-check-label" for="flexRadioDefault4">
                    No
                  </label>
                </div>
              </div>
            </div>

            <!-- MAJOR HEALTH EVENTS -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Have you experienced any major health events in the past 6 months (e.g.
                severe injury, surgery, hospitalisation, chemotherapy / radiotherapy?)
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  No
                </label>
              </div>
            </div>

            <!-- MEDICATION / SUPPLEMENTS -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Are You Crrently Taking Any Medication Of Supplements?
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  No
                </label>
              </div>
            </div>

            <!-- PREGNANT / BREASTFEEDING / TRYING TO CONCEIVE -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Are You...
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Pregnant
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  Breastfeeding
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Trying to Conceive
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  None of The Above
                </label>
              </div>
            </div>

            <!-- SENSITIVE SKIN -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Do You Have Sensitive Skin, Eczema or Dermatisis?
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  No
                </label>
              </div>

            </div>

            <!-- SELF-CARE GOALS -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Your Self-Care Goals
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Relaxation & Stress Relief
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  Better Sleep
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Skincare & Nourishment
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  More Energy / Focus
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="flexRadioDefault4">
                  Emotional Balance
                </label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="flexRadioDefault4">
                  Other...
                </label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
              </div>

            </div>


            <hr class="my-5">
            <h4 class=" fw-semibold">Product References</h4>
            <p>What Type of Products Are You Looking For?</p>


            <!-- PRODUCTS I'M INTERESTED IN -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Products I'm Most Interested In
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Herbal Beverages
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  Facial Care
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Oral Care
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  Body Care
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="flexRadioDefault4">
                  Open To Anything!
                </label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
              </div>
            </div>

            <!-- ADDITIONAL CARE NEEDS INFO -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Is There Anything Else You Would Like Me To Know About Your Care
                Needs?</label>

              <textarea name="message" placeholder="Write Your Message Here" class="form-control shadow-none px-3 py-2"
                style="height:150px;" required=""></textarea>
            </div>

            <!-- CONSENT -->
            <div class="col-lg-12 mb-4">
              <label class="mb-2 fs-6 text-dark">Consent
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  I understand that these products support wellbeing but do not replace medical treatment.
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  I consent to my answers being reviewed so I can receive safe, suitable recommendations.
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  I agree to read the safety information provided regarding products I am interested in purchasing
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                  I agree to use products safely, according to the instructions provided on the packaging
                </label>
              </div>

            </div>
            <div class="d-grid">
              <button type="submit" name="submit" class="btn btn-primary fs-6 py-3">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="text-dark opacity-100 mx-lg-5">


<!-- FOOTER -->
<footer class="footer-bottom py-3 mx-lg-5">
  <div class="container-lg">
    <div class="d-md-flex justify-content-between align-items-center">
      <div class="">
        <p>© 2025 Copyright <a href="javascript:void(0)" class="text-decoration-underline" target="_blank">
            There's a Herb For That</a>. All rights reserved
        </p>
      </div>
      <div class=" d-flex flex-wrap">
        <div class="payment-option">
          <span>Payment Option:</span>
          <img src="{% static 'img/visa-card.png' %}" alt="card">
          <img src="{% static 'img/paypal-card.png' %}" alt="card">
          <img src="{% static 'img/master-card.png' %}" alt="card">
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}