{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-section my-lg-9">
    <div class="hero-content ">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2 class="display-3 fw-semibold my-3">COMING SOON!</h2>
     
            <div class="text-center mt-5">
              <a href="/" class="btn btn-primary">Go to home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}